<a href="https://colab.research.google.com/github/LESRLUEN/Tareas_EDD/blob/main/Tarea_05_EDD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
class Array:
  def __init__( self , tam ):
    self.__tamanio = tam
    self.__data = [ 0 for x in range(self.__tamanio) ]

  def to_string( self ):
    info = ""
    for dato in self.__data:
      info = info + str(dato) +"|"
    return info

  def get_item( self , index ):
    return self.__data[index]

  def get_length( self ):
    return len( self.__data )

  def set_item( self , dato , index):
    # hace falta revisar limites
    if index >= 0 and index < self.get_length():
      self.__data[index] = dato
    else:
      print("Error: indice fuera de rango")

  def clear( self , dato ):
    self.__data = [ dato for x in range(self.__tamanio) ]

La carpeta datos es volatil

In [3]:
!cat junio.dat

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, año de ingreso
2345, CARLOS, PEREZ, CASTILLO, 0, 9850, 2017
5754, ANGEL, GOMEZ, GARRIDO, 1, 9850, 2020
5345, JESUS, MARTIN, SANTOS, 2, 9850, 2016
3267, DAVID, JIMENEZ, LOZANO, 2, 9850, 2017
8765, PEDRO, RUIZ, GUERRERO, 2, 9850, 2017
5454, DANIEL, HERNANDEZ, CANO, 3, 9850, 2018
3456, ALEJANDRO, DIAZ, PRIETO, 2, 9850, 2018
3445, MARIA, MORENO, MENDEZ, 1, 9850, 2018
9088, ALBERTO, MU�OZ, CRUZ, 1, 9850, 2017
8877, RAFAEL, ALVAREZ, FLORES, 2, 9850, 2017
6767, FERNANDO, ROMERO, HERRERA, 4, 9850, 2019
5654, PABLO, ALONSO, GALLEGO, 1, 9850, 2019
4323, JORGE, GUTIERREZ, MARQUEZ, 2, 9850, 2020
2232, RAMON, NAVARRO, LEON, 1, 9850, 2016

In [4]:
archivo = open("junio.dat", "rt", encoding = "latin-1" )
print(archivo.read())

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, aÃ±o de ingreso
2345, CARLOS, PEREZ, CASTILLO, 0, 9850, 2017
5754, ANGEL, GOMEZ, GARRIDO, 1, 9850, 2020
5345, JESUS, MARTIN, SANTOS, 2, 9850, 2016
3267, DAVID, JIMENEZ, LOZANO, 2, 9850, 2017
8765, PEDRO, RUIZ, GUERRERO, 2, 9850, 2017
5454, DANIEL, HERNANDEZ, CANO, 3, 9850, 2018
3456, ALEJANDRO, DIAZ, PRIETO, 2, 9850, 2018
3445, MARIA, MORENO, MENDEZ, 1, 9850, 2018
9088, ALBERTO, MUOZ, CRUZ, 1, 9850, 2017
8877, RAFAEL, ALVAREZ, FLORES, 2, 9850, 2017
6767, FERNANDO, ROMERO, HERRERA, 4, 9850, 2019
5654, PABLO, ALONSO, GALLEGO, 1, 9850, 2019
4323, JORGE, GUTIERREZ, MARQUEZ, 2, 9850, 2020
2232, RAMON, NAVARRO, LEON, 1, 9850, 2016

In [5]:
class Trabajador:
  def __init__( self, nt, nom, pat, mat, he, sb, ai ):
    self._numero_trabajador = nt
    self._nombres = nom
    self._paterno = pat
    self._materno = mat
    self._horas_extra = he
    self._sueldo_base = sb
    self._anio_ingreso = ai
    #Así para todos los atributos

    #Aqui van todos los metodos de acceso
  def set_numero_trabajador(self, nt):
    self._numero_trabajador = nt
  
  def get_numero_trabajador( self ):
    return self._numero_trabajador 
  
  def set_nombres(self,nom):
    self._nombres = nom
  
  def get_nombres( self ):
    return self._nombres 
  
  def set_paterno(self,pat):
    self._paterno = pat
  
  def get_paterno( self ):
    return self._paterno 
  
  def set_materno(self,mat):
    self._materno = mat
  
  def get_materno( self ):
    return self._materno
 
  def set_horas_extra(self,he):
    self._horas_extra = he
 
  def get_horas_extra( self ):
    return self._horas_extra 
 
  def set_sueldo_base(self,sb):
    self._sueldo_base = sb
 
  def get_sueldo_base( self ):
    return self._sueldo_base 
 
  def set_anio_ingreso(self,ai):
    self._anio_ingreso = ai
 
  def get_anio_ingreso( self ):
    return self._anio_ingreso 
  # metodos de uso general. --> metodos que hacen calculos adicionales

  def calcular_sueldo_mensual( self ):
    anios = 2021 - self.get_anio_ingreso()
    
    sueldo = self.get_sueldo_base()
    # agregarle horas extra
    sueldo += self.get_horas_extra() * 276.5
    # agregar prestaciones por antiguedad
    sueldo = sueldo + ( sueldo * anios * 0.03)
    return sueldo

  def to_string( self ):
    print()
    return "Nombre: " + self._nombres + " \nSueldo: " + str(self.calcular_sueldo_mensual())

  def calcular_antiguedad( self ):
    return 2021 - self.get_anio_ingreso()

  def mas_nuevo( self ):
    if 2021 - self.get_anio_ingreso() <= 1:
     return(self.get_nombres())

  def mas_antiguo( self ):
    if 2021 - self.get_anio_ingreso() >= 5:
     return(self.get_nombres())


emp = Trabajador( 2345, "Carlos", "Perez", "Castillo",1,9850,2017 ) 
print(emp.get_sueldo_base())
print(emp.get_horas_extra())
print(emp.calcular_antiguedad())
print(emp.to_string())
print(emp.mas_antiguo())
print(emp.mas_nuevo())

9850
1
4

Nombre: Carlos
Sueldo: 11341.68
None
None

In [6]:
class NominaADT:
  def __init__( self , ruta_archivo ):
    # abrir el archivo y determinar el numero de empleados
    archivo = open( ruta_archivo , "rt", encoding = "latin-1" )
    empleados = archivo.readlines()
    del empleados[0]
    for index in range(len(empleados)):
      empleados[index] = empleados[index].strip().split(",")
    self.__data=Array( len(empleados) )
    cont = 0
    for emp in empleados:
      tmp = Trabajador( int(emp[0]) , emp[1] , emp[2] , emp[3] , int(emp[4]) , int(emp[5]) , int(emp[6]) )
      self.__data.set_item( tmp , cont)
      cont += 1

  def calcular_sueldos( self ):
    print("Los sueldos asignados son: ")
    for index in range(self.__data.get_length()):
      print(self.__data.get_item(index).to_string() )

  def buscar_menor_antiguedad( self ):
    print()
    print("Los trabajadores mas nuevos son: ")
    for index in range(self.__data.get_length()):
      lista = []
      a = self.__data.get_item(index).mas_nuevo()
      if a == None:
        lista.append(a)
      else:
        print(a)


  def buscar_mayor_antiguedad( self ):
    print()
    print("Los trabajadores mas antiguos son: ")
    for index in range(self.__data.get_length()):
      lista2 = []
      b = self.__data.get_item(index).mas_antiguo()
      if b == None:
        lista2.append(b)
      else:
        print(b)

  


ejemplo = NominaADT("junio.dat")
ejemplo.calcular_sueldos()
ejemplo.buscar_menor_antiguedad()
ejemplo.buscar_mayor_antiguedad()

Los sueldos asignados son:

Nombre:  CARLOS
Sueldo: 11032.0

Nombre:  ANGEL
Sueldo: 10430.295

Nombre:  JESUS
Sueldo: 11963.45

Nombre:  DAVID
Sueldo: 11651.36

Nombre:  PEDRO
Sueldo: 11651.36

Nombre:  DANIEL
Sueldo: 11640.655

Nombre:  ALEJANDRO
Sueldo: 11339.27

Nombre:  MARIA
Sueldo: 11037.885

Nombre:  ALBERTO
Sueldo: 11341.68

Nombre:  RAFAEL
Sueldo: 11651.36

Nombre:  FERNANDO
Sueldo: 11613.36

Nombre:  PABLO
Sueldo: 10734.09

Nombre:  JORGE
Sueldo: 10715.09

Nombre:  RAMON
Sueldo: 11645.475

Los trabajadores mas nuevos son:
 ANGEL
 JORGE

Los trabajadores mas antiguos son:
 JESUS
 RAMON